/* This edits HTML */

html {
  background-color: #e9f2f2;
}

/* This edits anchor elements */

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* This edits the header in the nav bar */

h1 {
  color: #1df0a9;
  font-family: "Courier New", Courier, monospace;
  position: top;
  margin-top: 0;
  padding-top: 0;
}
h1::first-letter {
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.heading {
  background-color: #3209e6;
  padding-top: 0;
  padding-bottom: 0;
}

/* This edits all section headings */

h2 {
  color: #3209e6;
  background-color: #1df0a9;
  border-radius: 10px;
  padding-bottom: 0;
  margin-top: 60px;
  padding-top: 0;
  padding-left: 10px;
}

/* This edits appointment headings */

.add {
  color: #3209e6;
  background-color: #1df0a9;
  border-radius: 10px;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-left: 10px;
}

/* This edits sections */

section {
  border: solid #16f5e6 1px;
  background-color: white;
  padding-top: 0;
  margin-top: 10px;
}
p {
  padding-left: 5px;
}

/* This edits bottom appointment bar */

.set {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  margin-top: 10px;
}
div #schedule:not(.ignore) {
  /* trying to make background with opacity but not input fields */
  opacity: 0.85;
  background-color: #e9f2f2;
  margin-top: 0;
  padding-top: 20px;
}
.scroll:hover {
  background-color: #dee0e0;
  color: black;
  opacity: 1;
}
forum input {
  padding: 2px 2px;
  margin: 2px 2px;
}
.appointment {
  background-color: #0ee3b1;
  opacity: 0.85;
  padding-right: 0;
  margin-right: 850px;
  padding-top: 0;
  margin-bottom: 0;
}
#schedule h2 a {
  color: #3209e6;
}
#schedule h2 a:hover {
  color: black;
}
#schedule h2:hover {
  background-color: #dee0e0;
  padding-top: 0;
  opacity: 1;
}

/* This edits background image at top of page */

.background {
  background-image: url(img/dog.jpeg);
  background-color: black;
  height: 300px;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  margin-top: 0;
}

/* This edits social media aside */

.aside {
  border: solid #0ee3b1 0.5px;
  border-radius: 10%;
  background-color: rgb(244, 248, 248);
  padding-left: 3px;
  margin-right: 850px;
  margin-top: 10px;
}

/* This edits top nave bar */

nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 75px;

}

nav ul {
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: stretch;
  position: fixed;
  background-color: #00BF95;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.nav_list {
  display: flex;
  padding-left: 0;
}

.nav_list li {
  list-style: none;
}

.nav_list li a:hover {
  background-color: #dee0e0;
  color: black;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #0ee3b1;
  padding-right: 20px;
  padding-left: 20px;
}

li:not(.heading ol) {
  border: .5px black solid;
}

.nav_list li a {
  text-decoration: none;
  color: #3209e6;
  font-size: 16px;
}

.shrink {
  flex-shrink: 1;
}

.shell {
  display: flex;
}

.heading {
  align-self: flex-start;
  color: #1df0a9;
  background-color: #3209e6;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 5px;
  margin-top: 5px;
}

.heading::first-letter {
  font-size: 50px;
  font-weight: bolder;
  color: black;
  background-color: purple;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  display: flex;
}
